
.customer-orders-new-all {
  width: 1000px;
  margin: 30px auto;
}

.order-new-item {
  margin: 30px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 255, .2);
  border-radius: 5px;
}

.order-new-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #651366;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px 30px;
  color: white;
  margin-bottom: 20px;
}
.order-new-item-bottom {
  padding: 0px 30px;
}
.order-new-deliverby, .order-new-startLoc, .order-new-endLoc,
.order-new-request, .order-new-status, .order-new-price, .order-new-driver {
  margin: 0px;
  font-size: 25px;
}


.order-new-etc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.request {

}
.price {
  margin-right: 100px;
}
.driver-img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: auto 20px auto 0px ;
  /*margin-bottom: 30px;*/
  /*margin-top: 20px;*/
}
.row {
  display: flex;
  flex-direction: row;
}
.driver-new-row {
  margin: 5px 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.driver-new-info {
  display: flex;
}
.driver-rating > i {
  font-size: 20px;
  color: yellow;
  margin: auto 3px;
}
