/*.form-title {

}*/

.map-hold {
  min-width: 500px;
  margin-bottom: 50px;
}
.item-holder {
  min-width: 400px;
  /*border: 1px solid rgb(158, 158, 158);
  border-radius: 3px;*/
  margin-right: 40px;
  margin-bottom: 50px;
}

.customer-orders-new-all {
  max-width: 600px;
}

.order-new-item {
  /*margin: 30px;*/
  margin-bottom: 30px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 255, .2);
  border-radius: 5px;
}

.order-new-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #8F0732;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px 30px;
  color: white;
  margin-bottom: 20px;
}
.order-new-item-bottom {
  padding: 0px 30px;
}
.order-new-deliverby, .order-new-startLoc, .order-new-endLoc,
.order-new-request, .order-new-status, .order-new-price, .order-new-driver {
  margin: 0px;
  font-size: 25px;
}


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-map, .on {
  width: 175px;
  background: #8B4789;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  margin: 20px 20px 50px 20px;
  padding: 10px 25px;
  text-align: center;
  box-shadow: 1px 3px 2px 2px rgba(0, 0, 255, .2);
}
.off {
  width: 175px;
  background: gray;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  margin: 20px 20px 50px 20px;
  padding: 10px 25px;
  text-align: center;
}


.order-new-etc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.request {

}
.price {
  margin-right: 100px;
}
.driver-img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: auto 20px auto 0px ;
  /*margin-bottom: 30px;*/
  /*margin-top: 20px;*/
}
.row {
  display: flex;
  flex-direction: row;
}
.driver-new-row {
  margin: 5px 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.driver-new-info {
  display: flex;
}

.mapMid {
  position: relative;
  left: -220px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.mapFlex {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.mapFix {
  position: fixed;
  top: 120px;
  left: 884px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#map {
  left: 0px;
}
.map-mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.map-button {
  height: 27px;
}
