.new-driver-rating > i {
  font-size: 1.25em;
  margin: auto 1px;
  color: yellow;
}
.new-driver-rating {
  justify-content: start;
  align-items: baseline;

}

.new-order-bottom-button {
  margin-bottom: 30px;
}

.item-holder > h2 {
  font-size: 2em;
}
.item-holder > h4 {
  font-size: 1em;
}
