.trip-new {
  max-width: 800px;
  margin: 0 auto;
  /*display: flex;*/
  /*flex-direction: column;
  justify-content: center;
  align-items: left;*/
}

#driver-end, #driver-start, #date-start, #date-end,
#cust-end, #cust-start, #deliver-by {
  font-size: 1.25em;
}
#date-start, #date-end {
  font-size: 1em;
}

.form-title {
  margin-top: 30px;
  font-size: 2.5em;
  font-weight: 700;
}

.form-description {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 30px;
}

.form-start-loc {
  margin-top: 30px;
}

.form-start-loc, .form-end-loc {
  font-size: 1.25em;
  position: relative;
  top: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.form-dates {
  font-size: 1.25em;
  margin-top: 10px;
  margin-bottom: 0px;
}

.form-description > h3 {
  font-size: 1.25em;
  margin: 20px 0 10px 0;
}
.form-date-input > h3 {
  font-size: 1em;
  margin: 20px 0 0px 0;
}

.form-dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.form-date > input {

}
.form-date-input {
  width: 450px;
  display: flex;
  flex-direction: column;,
  justify-content: center;
}

.map-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.map-button {
  /*margin: 10px;*/
  margin: 20px auto 50px auto;
  padding: 10px 25px;
  width: 200px;
  text-align: center;
  background: #8B4789;
  /*border: 1px solid red;*/
  border-radius: 3px;
  color: white;
  font-size: 1em;
  /*font-weight: 600;*/
  box-shadow: 1px 3px 2px 2px rgba(0, 0, 255, .2);
}

.map-button:hover {
  background: #651366;
}

.map {
  left: 150px;
}

.confirm-q {
  margin: 30px 0 20px 0;
  text-align: center;
}
.confirm-trip {
  margin: 0 auto 100px auto;
  padding: 10px 25px;
  background: #8B4789;
  color: white;
  width: 200px;
  text-align: center;
  border-radius: 3px;
  font-size: 1em;
  font-style: 600;
  box-shadow: 1px 3px 2px 2px rgba(0, 0, 255, .2);
}

.confirm-trip:hover {
  background: #651366;
}
