.trip-new {
  max-width: 1000px;
  margin: 0 auto;
  /*display: flex;*/
  /*flex-direction: column;
  justify-content: center;
  align-items: left;*/
}

#driver-end, #driver-start, #date-start, #date-end,
#cust-end, #cust-start, #deliver-by {
  font-size: 1.5rem;
}

.form-title {
  margin-top: 30px;
  font-size: 60px;
  font-weight: 700;
}

.form-description {
  font-size: 25px;
  font-weight: 400;
}

.form-start-loc {
  margin-top: 30px;
}

.form-start-loc, .form-end-loc {
  font-size: 20px;
  position: relative;
  top: 0px;
}

.form-description > h3 {
  font-size: 20px;
  margin: 20px 0 10px 0;
}
.form-date-input > h3 {
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.form-dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.form-date > input {

}
.form-date-input {
  width: 450px;
  display: flex;
  flex-direction: column;,
  justify-content: center;
}

.map-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.map-button {
  /*margin: 10px;*/
  margin: 20px auto 50px auto;
  padding: 10px 25px;
  width: 200px;
  text-align: center;
  background: red;
  /*border: 1px solid red;*/
  border-radius: 3px;
  color: white;
  font-size: 20px;
  /*font-weight: 600;*/
}

.map {
  left: 150px;
}

.confirm-q {
  margin: 30px 0 20px 0;
  text-align: center;
}
.confirm-trip {
  margin: 0 auto 100px auto;
  padding: 10px 25px;
  background: red;
  color: white;
  width: 200px;
  text-align: center;
  border-radius: 3px;
  font-size: 20px;
  font-style: 600;
}
