.mainSplashHeader {
  font-weight: 700;
}
.ratings {
  background: #f4f4f4;
  position: relative;
  top: -150px;
  left: 600px;
  max-width: 350px;
  height: 400px;
  padding: 20px;
}
.ratings > h4 {
  padding-bottom: 100px;
}

@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  18.82% {
    opacity:1;
  }
  20% {
    opacity:0;
  }
  98.82% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}
.ratings > h5 {
  position: absolute;
  top: 90px;
  padding: 5px;
  opacity: 0;
  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 42.5s;
}
.ratings > h5 > p {
  width: 340px;
  text-align: right;
  font-size: 25px;
  margin-top: 5px;
}



.ratings > h5:nth-of-type(1) {
animation-delay: 33.2s;
}
.ratings > h5:nth-of-type(2) {
animation-delay: 24.9s;
}
.ratings > h5:nth-of-type(3) {
animation-delay: 16.6s;
}
.ratings > h5:nth-of-type(4) {
animation-delay: 8.3s;
}
.ratings > h5:nth-of-type(5) {
animation-delay: 0s;
}





.nav-extender {
  height: 200px;
  width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
}
.slogan {
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 400;
  margin-top: 20px;
}
.description {
  font-family: "Open Sans";
  font-weight: 300;
  position: relative;
  top: -10px;
}

.loginButton {
  padding: 12px 20px;
  width: 275px;
  border-radius: 5px;
  border: 1px solid #FF0000;
  background: #FF0000;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 15px;
  text-align: center;
  box-shadow: 1px 3px 2px 2px rgba(0, 0, 0, .2);
}
.loginButton:hover {
  background: #6B0103;
  border: 1px solid #6B0103;
  border-radius: 5px;
}
.bottom-login-button:hover {
  background: #6B0103;
  border: 1px solid #6B0103;
  border-radius: 5px;
}

.bottom {
  font-family: Open Sans;
  padding-bottom: 40px;
  width: 100%
}

.questions {
  padding-bottom: 80px;
}

h2 {
  font-family: barlow;
  font-size: 60px;
  font-weight: 800;
}

.first {
  width: 100%;
  background: #f4f4f4;
  /*background: #8A9B0F;*/
  /*background: #F8CA00;*/
  /*backgrou1nd: E8E8E8;*/
  color: black;
}
.first > * , .human > *{
  width: 1000px;
}
.human {
  background: black;
  color: white;
}
.about {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.human2 > * {
  text-align: left;
  width: 800px;
}
.bottom-login-button {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 8px 20px;
  width: 275px;
  border-radius: 5px;
  border: 1px solid ##FF0000;
  background: #FF0000;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-align: center;
  box-shadow: 1px 3px 2px 2px rgba(0, 0, 255, .2);
}

h4 {
  font-size: 35px;
  font-weight: 500;
}
.midsentence {
  margin: 20px 0 2px 0;
}
.midsentence2 {
  margin: 0px 0 20px 0;
}
strong {
  font-weight: 600;
  font-size: 40px;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: center;*/
  /*align-content: center;*/
  margin: 0 auto;
}
.human-photos {
  position: relative;
  width: 200px;
}


@keyframes cf3FadeInOut {
  0% {
    opacity:1;
  }
  14.29% {
    opacity:1;
  }
  20% {
    opacity:0;
  }
  94.29% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}

.human-photos > img {
  width: 220px;
  height: 220px;
  border-radius: 220px;
  border: 1px solid black;

  position: absolute;
  left: 0;
  top: 25%;
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 17.5s;
  /*animation-direction: alternate;*/
}
.human-photos > img:nth-of-type(1) {
  animation-delay: 14s;
}
.human-photos > img:nth-of-type(2) {
  animation-delay: 10.5s;
}
.human-photos > img:nth-of-type(3) {
  animation-delay: 7s;
}
.human-photos > img:nth-of-type(4) {
  animation-delay: 3.5s;
}
.human-photos > img:nth-of-type(5) {
  animation-delay: 0s;
}
.car {
  width:100px;
  position: relative;
  top: 120px;
}
