
/*nav bar in total*/
.nav {
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 60px;
  background: linear-gradient(to right, #7B4397 50%, #DC2430 80%);;
  color: #FFF;
  z-index: 2;
}
.nav-spacer{
  height: 60px;
}
.nav-inner {
  width: 850px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav > * {
  position: relative;
  top: -15px;
}

/*nav left side */
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  line-height: 85px;
  font-size: 1.75em;
  margin: auto 0;
}



/*login button on splash page*/
.login {
  display: flex;
  flex-direction: row;
}
.login-google > img {
  width: 20px;
  height: 20px;
  margin: auto 0;
  padding-right: 15px;
}
.login-google > h4 {
  font-size: .8em;
  font-weight: 700;
  margin: auto 0;
}
.login-google {
  width: 200px;
  height: 40px;
  padding: auto 40px;
  background: white;
  color: gray;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login-google:hover {
  background: blue;
  color: white;
  transition: 0.3s;
}
.login-demo {
  padding: 15px 25px;
  font-size: 18px;
}
.login-demo:hover {
  border-top: 1px solid white;
  border-bottom: 5px solid red;
}


/*nav bar right side after login*/
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 700px;
}
.nav-right > * {
  margin: auto .5%;
  padding: .75% 1.5%;
  font-size: 0.8em;
  font-weight: 700;
  height: 30px;
}
.nav-right > button:focus {
  background-color: inherit;
}
.nav-right > *:hover {
  transition: 0.3s;
  border-bottom: 3px solid orange;
  color: orange;
}
.nav-right > div {
  border-bottom: none;
}
.nav-right > div:hover {
  border-bottom: none;
}
.currentTab {
  color: orange;
}


/*becoming driver or becoming customer buttons */
.become-driver {
  border: 1px solid orange;
  border-radius: 2px;
  background: orange;
  color: black;
  font-weight: 700;
  height: 30px;
}
.become-driver:hover {
  border: 1px solid #F35522;
  background: #F35522;
  color: white;
  font-weight: 700;
}
.become-customer {
  border: 1px solid orange;
  border-radius: 2px;
  background: orange;
  color: black;
  font-weight: 700;
  height: 30px;
}
.become-customer:hover {
  border: 1px solid #F35522;
  background: #F35522;
  color: white;
  font-weight: 700;
}


/*# logout button*/
.logout {
  text-align: center;
  padding: 10px 10px 0 10px;
  border-radius: 2px;
  border: 2px solid white;
}
.logout:hover {
  background: gray;
  border: 2px solid gray;
  color: black;
  transition: 0.3s;
}


.nav-driver-img {
  width: 40px;
  height: 40px;
  border-radius: 60px;
  margin: auto 0;
  position: relative;
  top: -5px;
  left: -5px;
}
