.nav {
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 90px;
  /*border-bottom: 1px solid black;*/
  /*box-shadow: 0 2px 5px rgba(0,0,0,.26);*/
  margin-bottom: 5px;
  background-color: white;
  z-index: 2;
}
.nav-spacer{
  height: 90px;
}
.nav-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  line-height: 85px;
  font-size: 40px;
  margin: auto 0;
}
.login {
  display: flex;
  flex-direction: row;
}
.login-google {
  line-height: 50px;
  padding: 15px 25px;
  margin: 0 auto;
  font-size: 18px;
}
.login-demo {
  /*margin-top: 5px;*/
  padding: 15px 25px;
  font-size: 18px;
  /*height: 50px;*/
}
.login-demo:hover {
  border-top: 1px solid white;
  border-bottom: 5px solid red;
}
.login-google:hover {
  border-bottom: 5px solid red;
}
/*.login > * {
  margin-top: 5px;
  padding: 15px 25px;
  font-size: 18px;
  height: 50px;
}*/
/*.login > *:hover {
  border-bottom: 5px solid red;
}*/

.nav-right {
  display: flex;
  flex-direction: row;
}
.nav-right > * {
  padding: 15px 25px;
  font-size: 18px;
}
.nav-right > *:hover {
  border-bottom: 5px solid red;
}

.nav-right > div:hover {
  border-bottom: none;
}

.logout {
  text-align: center;
  margin: auto 0;
  line-height: 45px;
}


.currentTab {
  /*text-decoration: underline;*/
  font-weight: 700;

}
